// Este map lo uso para dar los colores correspondientes sin tener que memorizarme ni copiar los número exactos en rgb.
$colores:(
    Blanquito:rgb(231, 228, 228),
    Oscuro: rgb(17, 14, 14),
            )

